body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}

/* from a minimum width of 400px and bigger */
/* @media (min-width: 600px) {
    body {
        background: yellow;
    }
} */

/* from a minimum width of 750px up to a width of 850px */
/* @media (min-width: 750px) {
    body {
        background: green;
    }
} */

/* Typography */

h1 {
    color: #312614;
    font-size: 3rem;
    text-align: center;
}

h1 span {
    color: #B7832F;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
}

/* Layout */

img {
    max-width: 100%
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 980px;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.col {
    padding: 1em;
}

.col-1 {
    width: 20%
}

.col-2 {
    width: 45%
}

.col-3 {
    width: 70%
}

.col-dark {
    background-color: #312614;
    color: #fff;
}

@media (max-width: 600px){
    .columns {
        flex-direction: column;
    }

    .col-1,
    .col-2,
    .col-3 {
        width: 100%;
    }
}