body {
    color: #707070;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    margin: 0;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

.image-full {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 2em;
}

/* =====================
   Typography
   ===================== */

h1, h2, h3 {
    color: #143774;
    font-family: 'Lora', serif;
    font-weight: 400;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
}

a {
    color: #1792D2;  
}

a:hover,
a:focus {
    color: #1792D2;  
}

strong {
    font-weight: 700;
}

.article-title {
    font-size: 1.5rem;
}

.article-info, .article-read-more {
    font-size: 0.875rem;
}

.article-info {
    margin: 2em 0;
}

.article-read-more {
    color: #1792D2;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.article-read-more:hover,
.article-read-more:focus {
    color: #1792D2;
    text-decoration: underline;
}

.site-title {
    margin: 0;
}

/* logo title */
.site-subtitle {
    color: #1792D2;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.widget-title,
.widget-recent-post-title {
    font-size: 1.25rem;
    line-height: 1.4;
}

.widget-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.about-title {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
}

.about-subtitle {
    color: #1792D2;
    font-size: 1.25;
    margin: 0;
}

/* ====================
   Layout
   ==================== */

header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

footer {
    background: #143774;
    color: rgb(255, 255, 255, 0.65);
    text-align: center;
    padding: 3em 0;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }

    .col-1 {
        width: 24%;
    }
    
    .col-2 {
        width: 43%;
    }
    
    .col-3 {
        width: 72%;
    }
}

/* Navigation */

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.nav-list-item {
    margin-left: 2em;
}

.nav-link {
    color: #707070;
    font-weight: 700;
    letter-spacing: 1px;
    padding: .25em 0;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
    color: #1792D2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px){
    .nav-list {
        flex-direction: column;
    }

    .nav-list-item {
        margin: .5em 0;
    }
}

/* Articles */

.article-featured {
    border-bottom: 1px solid #707070;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;

}

.article-recent {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas:
        "image image"
        "title date"
        "body body"
        "read-more .";
    grid-gap: 0 1em;
    margin-bottom: 2em;
}

.article-image {
    grid-area: image;
}

.article-title {
    grid-area: title;
}

.article-info {
    grid-area: date;
    justify-self: end;
}

.article-title,
.article-info {
    align-self: baseline;
}

.article-body {
    grid-area: body;
}

.article-read-more {
    grid-area: read-more;
}

@media (min-width: 675px) {
    
    .article-image {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
        order: -2;
    }

    .article-recent {
        grid-template-columns: minmax(100px, 250px) minmax(250px, 1fr);
        grid-template-areas:
            "image title"
            "image body"
            "image read-more"
            "date .";
    }

    .article-info {
        justify-self: start;
    }
}

/* Widgets */

.sidebar-widget {
    border: 15px solid #EFEFEF;
    margin-bottom: 2em;
    padding: 1em;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
}

.widget-recent-post:last-child {
    border: 0;
    margin: 0;
}

.widget-image {
    order: -1;
}

/* About */

.about-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em
}

.about-image {
    order: -1;
}






